@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/* 4-direction shadow classes */
.shadow-even {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.shadow-even-hover:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
}